* {
    margin: 0;
    padding: 0;
}

.fitured__items {
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 100px;
}

.fitured__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
    text-align: center;
}

.fitured__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 48px;
    text-align: center;
}

.product__box {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 48px;
}

.product {
    background: #F8F8F8;
    max-width: 360px;
    position: relative;
}

.product__img {
    margin-bottom: 25px;
}

.add-to-cart {
    position: absolute;
    top: 0;
    opacity: 0;
}

.add-to-cart:hover {
    opacity: 1;
}

.del-from-cart {
    position: absolute;
    left: 93%;
    top: 7%;
}


.product__title {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.product__subtitle {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.product__price {
    margin-bottom: 19px;
}

.price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.button__box {
    margin: 0 auto;
    text-align: center;
}

.all__products {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 14px 39px;
    text-align: center;
    text-decoration: none;
}

.cart-items {
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFFFFF;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 48px;
}

.cart-items-subtitle {
    min-width: 650px;
    margin-bottom: 65px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.product-in-cart {
    position: relative;
    display: flex;
    background: #F8F8F8;
    width: 652px;
    height: 306px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.product-in-cart .product__title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
}

.product-in-cart .price {
    color: #EF5B70;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.product-in-cart .product__price, .product__color, .product__size, .product__quantity {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    margin-bottom: 0;
}

.input__quantity {
    width: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #656565;
    text-align: center;
    border: 1px solid #EAEAEA
}

.product__content {
    padding-top: 22px;
    padding-left: 30px;
}